{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightbox3@1.1.0/dist/lightbox3.css">
    <link rel="stylesheet" href="{% static  'room.css' %}">
    <script type="module">
    import { Lightbox } from 'https://cdn.jsdelivr.net/npm/lightbox3@1.1.0/dist/lightbox3.esm.js';
    // Initialize after the module loads.
    Lightbox.init();
    </script>
    <title>Document</title>

</head>
<body>
<div class="container">
    <h1>Room name: {{roomname}}</h1>
    <div id="display">
    </div>

<script>
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url: '/getMessages/{{roomname}}/',
                success: function(response) {
                    var display = $('#display');

                    var wasNearBottom =
                        display.scrollTop() + display.innerHeight() >=
                        display[0].scrollHeight - 20;

                    display.empty();

                    for (var key in response.messages) {
                        var startdiv = "<div class='messbox'>"
                        var enddiv = "</div>"
                        var name = "<b>"+response.messages[key].user +"</b>"
                        var mess = "<p>" +response.messages[key].value +"</p>"
                        var date = "<span>"+response.messages[key].date +"</span>"
                        var img =  "<div><a class='demo' href='"+ response.messages[key].image +"' data-lightbox='example-1'><img class='example-image sendimage' src='"+ response.messages[key].image +"' alt='image-1'></a></div>"
                        if (response.messages[key].image){
                            var temp = startdiv + name+ img + mess + date + enddiv
                        }else{
                            var temp = startdiv + name + mess + date + enddiv
                        }

                        if (response.messages[key].value || response.messages[key].image){
                            display.append(temp);
                        }    
                        
                    }
                    if (wasNearBottom) {
                        display.scrollTop(display[0].scrollHeight);
                    }
                }
            });     
        },1000)
    })
</script>


   <div class="textbox">
       <div class="text">
         <form id="post-from" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{ username }}">
            <input type="hidden" name="room_id" id="room_id" value="{{ room_id }}">
            <input type="text" name="message" id="message" placeholder="Enter you text here">
            <label for="image" class="inputimg">
                <i class="fa-regular fa-images"></i>
                <div class="imagepreview" id="imagepreview">
                    <p>1</p>
                </div>
            </label>
            <input type="file" id="image" name="image" accept="image/*">
            <input type="submit" value="send">
        </form>
       </div>
   </div>
</div>
</body>
<script>
    $(document).on('submit', '#post-from',function(e){
        e.preventDefault();

        var frmdata = new FormData(document.getElementById('post-from'))
        $.ajax({
            type:'POST',
            url:'/send',
            data: frmdata,
            processData: false,
            contentType: false,
            success: function(data){
                $('#image')[0].value = ''
            }
        });
        document.getElementById('message').value = ''
    });
    setInterval(function(){
        let imagepreview = document.getElementById('image').value
        if (imagepreview != '') {
            $('#imagepreview').addClass('active')
        }else{
            $('#imagepreview').removeClass('active')
        }
    },500)
</script>
<script src="https://kit.fontawesome.com/6f3c57e22e.js" crossorigin="anonymous"></script>
</html>